@{
    var joe = new Person("Joe", 21);
}
<p>Name@joe.Name</p>
<p>Age@(joe.Age)</p>
@{
    var quote = " Mahatma Gandhi ";
}

<p>@quote</p>

@{
    quote = " Martin Luther King ";
}

<p>@quote</p>
<div class="@false">False</div>
<div class="@null">Null</div>
<div class="@("")">Empty</div>
<div class="@("false")">False String</div>
<div class="@("active")">String</div>
<input type="checkbox" checked="@true" name="true" />
<input type="checkbox" checked="@false" name="false" />
<input type="checkbox" checked="@null" name="null" />
